@charset "UTF-8";

* {
    margin: 0px; /* Remove margem padrão de todos os elementos */
    padding: 0px; /* Remove preenchimento padrão */
    font-family: var(--fonte1); /* Define a fonte padrão como a variável criada */
    font-size: 2.5vw; /* Tamanho da fonte relativo à largura da tela (responsivo) */
}

html, body {
    min-height: 100vh; /* Garante que ocupem pelo menos 100% da altura da tela */
    background-color: rgb(201, 201, 201); /* Define a cor de fundo padrão */
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    min-height: 50px;
    border-radius: 10px;
}

header > h1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-variant: small-caps;
    font-size: 30px;
}

header > p {
    padding-top: -30px;
    padding-bottom: 10px; /* Espaço abaixo do parágrafo */
    font-size: 20px;
}